.Search{
    width: 900px;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    margin: 80px auto;
    justify-content: center;
    flex-flow: column;
    background-color: #eee;
}
.Search input{
    padding: 5px;
    margin: 10px auto;
}
.Search button{
    padding: 5px;
    margin: auto;
}


@media (max-width: 520px){
    .Search{
        width: 320px;
        margin: 80px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
    }
}

@media (min-width: 521px) and (max-width: 900px){
    .Search{
        width: 520px;
        margin: 80px auto;
        display: flex;
        align-items: center;
        flex-flow: column;
    }
}