.DrinkInfo{
    width: 900px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 80px auto;
    justify-content: space-around;
    flex-flow: row;
    background-color: #eee;
}
.DrinkInfo img{
    height: 100%;
    border-radius: 5px;
}
.DrinkInfo .Top tr{
    padding: 15px;
}
.Boot{
    margin-top: 20px;
}
.DrinkInfo li{
    list-style: none;
    padding: 5px;
}
.Top{
    height: 190px;
    width: 90%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 520px){
    .DrinkInfo{
        width: 320px;
        margin: 80px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
    }
    .Top{
        margin: 200px auto auto;
        padding: 15px;
        flex-flow: column;
        align-items: center
    }
    .Boot{
        margin:140px auto auto;
    }
    .DrinkInfo img{
        height: 180px;
        width: 180px;
    }
    .DrinkInfo .Top tr{
        padding: 10px;
        margin: auto;
    }
}

@media (min-width: 521px) and (max-width: 900px){
    .DrinkInfo{
        width: 520px;
        margin: 80px auto;
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    .Top{
        margin: 140px auto 100px;
        padding: 15px;
        flex-flow: column;
        align-items: center;
    }
    .DrinkInfo img{
        height: 200px;
        width: 200px;
    }
    .DrinkInfo .Top tr{
        padding: 10px;
    }
}


