.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: aquamarine;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left:0;
}

.Logo{
    height: 80%;
}