.Pagger {
    display: flex;
    flex-flow: row;
    margin: 10px auto;
    width: 700px;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.Button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 520px){
    .Pagger {
        width: 320px;
    }
}

@media (min-width: 521px) and (max-width: 900px){
    .Pagger {
        width: 520px;
    }
}