.Button {
    border: 1px solid #666;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.Button:hover{
    border: 1px solid #666;
    background-color: #666;
    color: white;
}
.Button:active,
.Button.active{
    background-color: #ccc;
    color: black;
}

