.Drinks {
    display: flex;
    flex-flow: column;
    width: 900px;
    margin:auto;
    padding: 10px;
}

@media (max-width: 520px){
    .Drinks {
        width: 320px;
    }
}

@media (min-width: 521px) and (max-width: 900px){
    .Drinks {
        width: 520px;
    }
}