.NavItem {
    margin:0;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    font-size: 20px;
}

.NavItem a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 10px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active{
    color: white;
    background-color: rgba(255, 255, 255, 0.199);
    text-decoration: none;
    height: 100%;
    padding: 10px 10px;
    border-bottom: 4px solid white;
    box-sizing: border-box;
    display: block;
}
