.Drink{
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    border: 1px solid #666;
    background-color: #eee;
    padding: 5px;
    height: 70px;
    margin: 3px;
}
.Drink:hover{
    background-color: #666;
    color: white;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.Drink img{
    display: flex;
    height: 90%;
    width: auto;
}
.Drink p{
    display: flex;
    height: 90%;
    width: auto;
}